:root {
    --aqua-main: #41CBC9;
    --dark-contrast: #0F1116;
    --yellow-font: #FFC745;
    --blue-darker: #007A78;
    --aqua-light: #9AFFFD;
    --white-text: #F8F8F8;
    --aqua-text: #004746;
}

h1 {
    font-size: 1.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

button {
    all: unset;
    cursor: pointer;
}

a {
    all: unset;
}